//* Sombra animada *//

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 1;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');