$font: 'Montserrat',
sans-serif;
$primary: #333;
$secondary: #999;
$background-color: #ffffff;

//Breakpoints
$desktop: '1367px';
$laptop: '1220px';
$medium: '1025px';
$tablet: '770px';
$mobile: '451px';

//colors

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');