.app {
  &-day {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/desktop/bg-image-daytime.jpg");
    background-size: cover;

    &--detail {
      padding-top: 50px;
      padding-bottom: 10px;
      padding-left: 150px;
      padding-right: 150px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/desktop/bg-image-daytime.jpg");
      background-size: cover;
    }
  }

  &-night {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/desktop/bg-image-nighttime.jpg");
    background-size: cover;

    &--detail {
      padding-top: 20px;
      padding-bottom: 10px;
      padding-left: 150px;
      padding-right: 150px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/desktop/bg-image-nighttime.jpg");
      background-size: cover;
    }
  }
}